* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-inter);
}

.event-card {
  transition: transform 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
}

.nav-link-custom {
  color: #ffffff !important;
  /* putih terang */
  font-weight: 500;
  transition: color 0.2s ease;
}

.nav-link-custom:hover {
  color: #FFD700 !important;
  /* kuning emas saat hover */
}

.button-animate {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button-animate:hover {
  transform: scale(1.05);
  background-color: #6a1a0a !important; /* warna biru Bootstrap, jika ingin ubah outline */
  color: white !important;
}

.button-animate:active {
  transform: scale(0.95);
}

